body {
  font-family: Arial, sans-serif;
  background: #e3f2fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url("bakground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}

.weather-data {
  text-align: center;
  color: white;
}

.temp {
  font-size: 72px;
  font-weight: 900;
  margin: 15px 0;
}

.desc {
  font-size: 28px;
  font-weight: 900;
  margin: 15px 0;
}

.details div {
  font-size: 22px;
  font-weight: 900;
  margin: 8px 0;
}

.icon img {
  width: 120px;
  height: 120px;
}

